{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/bugs/bug-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Bug List</h1>
  <img src="{% static 'images/bug.svg' %}" alt="Bug" />
</section>

<section class="card-container">
  {% for bug in bugs %}
  <div class="card">
    <a href="{% url 'bug-detail' bug.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/bug.svg' %}" alt="Bug" />
        </div>
        <h2 class="card-title">{{ bug.name }}</h2>
        <p><small>{{ bug.species }}</small></p>
        <p><small>{{ bug.description }}</small></p>
        <p><small>Lifespan: {{ bug.lifespan }} year(s)</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
